<h2 id="title">
  Welcome to Ember
</h2>
<AmChart
  @chartType="XYChart"
  @initialConfig={{this.config}}
  class="chart-container"
  @themes={{array (am-chart-theme "dataviz") (am-chart-theme "animated")}}
  as |chart|
>
  <chart.property @property="responsive.enabled" @value={{true}} />
  {{#if this.tick1}}
    {{!-- <chart.call @func="exporting.export" @params={{array "png"}} /> --}}
    <chart.property @property="exporting.menu" @value={{am-chart-obj chart.am4core "ExportMenu"}} />
    <chart.property @property="exporting.menu.align" @value="left" />
    <chart.property @property="exporting.menu.verticalAlign" @value="top" />
  {{else}}
    <chart.push @property="yAxes" @value={{am-chart-obj chart.am4charts "CategoryAxis"}} as |axis|>
      <axis.property @property="renderer.opposite" @value={{true}} />
      <axis.property @property="title.text" @value="Stuff" />
    </chart.push>
  {{/if}}

  {{!-- <chart.on @property="series" @event="hit" @action={{fn this.columnsHit}} /> --}}
</AmChart>
{{outlet}}
